*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#eef2f7;

font-family:'Poppins',sans-serif;

color:#333;

}

button{

cursor:pointer;

border:none;

outline:none;

transition:.3s;

}

button:hover{

transform:translateY(-2px);

}

input,
select{

outline:none;

border:1px solid #ccc;

font-family:inherit;

}

table{

width:100%;

}

a{

text-decoration:none;

color:inherit;

}

img{

max-width:100%;

display:block;

}