body{
    margin:0;
    background:#f5f7fb;
    font-family:Arial, Helvetica, sans-serif;
}

.dashboard{
    margin-left:240px;
    margin-top:80px;
    padding:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}