.navbar{
    margin-left:240px;
    height:70px;
    background:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px;
    box-shadow:0 2px 6px rgba(0,0,0,.1);
}

.navbar button{
    padding:10px 20px;
    cursor:pointer;
}