@import "./login.css";


/* =========================================================
   REGISTER PAGE
========================================================= */

.register-page .auth-form {
    gap: 17px;
}

.register-page .auth-header {
    margin-bottom: 28px;
}

.register-page .auth-divider {
    margin: 24px 0;
}

.register-form-container {
    max-width: 500px;
}


/* =========================================================
   REGISTER RESPONSIVE
========================================================= */

@media (max-height: 750px) {

    .register-page .auth-form-section {
        align-items: flex-start;

        padding-top: 35px;
        padding-bottom: 35px;
    }

    .register-page .mobile-logo {
        margin-bottom: 25px;
    }

    .register-page .auth-header {
        margin-bottom: 20px;
    }
}