.dashboard-card{

    width:230px;

    height:120px;

    background:white;

    border-radius:12px;

    padding:20px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    box-shadow:0px 4px 15px rgba(0,0,0,.12);

    transition:.3s;

}

.dashboard-card:hover{

    transform:translateY(-5px);

}

.card-icon{

    font-size:45px;

    color:#1976d2;

}

.card-content h3{

    margin:0;

    color:#666;

    font-size:17px;

}

.card-content h1{

    margin-top:10px;

    color:#222;

    font-size:35px;

}