.chart-container{

    background:white;

    margin-top:25px;

    padding:20px;

    border-radius:12px;

    box-shadow:0px 4px 15px rgba(0,0,0,.12);

}

.chart-container h2{

    margin-bottom:20px;

}